cart #{{cart.cart.id}}

<div ng-repeat='product in cart.products | cartQuantity:cart.lineItems:cart track by $index'>
  <div ng-show='product.name'>
    <br>
    <a ui-sref="home.product({name: product.name, id: product.id})">
      <img class='product_thumbnail' ng-src="{{product.image_url}}" alt="{{product.name}} image">
    </a>
    <p>{{product.name}}</p>
    <p>{{product.price | currency}} x {{product.quantity}}</p>
    <change-quantity product="product" cart="cart"></change-quantity>
  </div>
</div>

total: {{cart.runningTotal | currency}}
<br><br><br>
