<div class='cart_box'>
  <h4 class='centered_description'>Cart {{cart.cart.id}}</h4>

  <div ng-repeat='product in cart.products | cartQuantity:cart.lineItems:cart track by $index'>
    <div ng-show='product.name'>
      <br>
      <a ui-sref="home.product({name: product.name, id: product.id})">
        <img class='product_thumbnail' ng-src="{{product.image_url}}" alt="{{product.name}} image">
      </a>
      <div class='index_prod_desc'>
        <p>{{product.name}}</p>
        <p>{{product.price | currency}} x {{product.quantity}}</p>
        <change-quantity product="product" cart="cart"></change-quantity>
      </div>
    </div>
  </div>
  <div class='centered_description'>
    <h3>total: {{cart.runningTotal | currency}}</h3>
  </div>
</div>
