
<div id="filters" class='filter_bar' ng-init="$ctrl.min = 0; $ctrl.max= 10000">
  <p>
    <input type="text" ng-model="$ctrl.search" placeholder='Search Products'>
  </p>
  <p>
    Min: $<input type="number" ng-model="$ctrl.min">
    Max: $<input type="number" ng-model="$ctrl.max">
  </p>
  <button ng-click="sort = '-price'; reverse = !reverse" class='btn'>Reverse Price Order</button>
</div>

<ul ng-repeat='product in $ctrl.products | filter:$ctrl.search | priceFilter:$ctrl.min:$ctrl.max | orderBy:sort:reverse'>
  <index-item product='product'></index-item>
</ul>
