
<div class='navbar navbar-fixed-top' role="navigation">
  <div>
    Welcome {{user.name}}
  </div>


  <span><a ui-sref='home.index'>Home</a></span>
  <span ng-show='user.id'><a ui-sref='home.carts'>Carts</a></span>

  <div id="login_links">
    <span ng-show='user.id'><a ng-click='home.logout()'>Logout</a></span>
    <span ng-show='!user.id'><a ui-sref='home.login'>Login</a></span>
    <span ng-show='!user.id'><a ui-sref='home.register'>Get Started</a></span>
    <div ng-show="user.admin"> <a ui-sref="home.admin">Manage Products</a> </div>
  </div>

  <br>
  <span ng-repeat='cat in home.categories' class='category_tab'>
    <span class='category_name tab-pane'><a ui-sref='home.category(cat)'>{{cat.name}}</a></span>
  </span>
</div>
<br><br><br>
<ui-view></ui-view>
