<div class='list_item'>
  <div class='index_prod_half'>
    <a ui-sref="home.product({name: indexItem.product.name, id: indexItem.product.id})">
      <img class="product_thumbnail img-rounded img-responsive"
          ng-src="{{indexItem.product.image_url}}"
          alt="{{indexItem.product.name}} image">
    </a>
  </div>
  <div class='index_prod_half'>
    <p>{{indexItem.product.name}}</p>
    <p>{{indexItem.product.price | currency}}</p>
    <p>Only {{indexItem.product.inventory}} left!</p><br/>
  </div>

  <div class="add_to_cart">
    <add-to-cart product="indexItem.product"></add-to-cart>
  </div>
</div>
