<div class="black_out" ng-click="$parent.addProduct=false; addProduct.clearForm()">
  <div class="light_box" ng-click="$event.stopPropagation()">
    <form ng-submit="addProduct.submit(); $parent.addProduct=false">
      <div id="new_product_form">

        <input type="text" placeholder="Name" ng-model="form.name"><br>
        <input type="number" placeholder="Price" ng-model="form.price"><br>
        <input type="number" placeholder="Inventory" ng-model="form.inventory"><br>

        <div id="select_area"></div>

          <select multiple
                  size=5
                  name="categories"
                  ng-options="category.name for category in addProduct.categories"
                  ng-model="form.categories"
                  class="point_5_margin"></select>

        <br>
          <button type="file"
                  name="image_upload"
                  ng-model="form.product_image"
                  ngf-select
                  accept="image/*"
                  ngf-max-height="1000"
                  ngf-max-size="1MB"
                  class='btn'
                  ngf-model-invalid="errorFile">
                  Select Image File</button>
          <i ng-show="myForm.file.$error.maxSize">File too large {{errorFilre.size/1000000|number:1}} MB: max 1MB</i>

        </div>

      <input type="submit" class="point_5_margin" value="Create">

    </form>

  </div>
</div>
