<div class="auth_container">
  <h2>Log-in</h2>
  <form ng-submit='session.login()'class="col-xs-12 auth_forms">
    <p><input type="email" placeholder='email' name="email" ng-model='session.user.email' required="required"></p>
    <p><input type="password" placeholder='password' name="password" ng-model='session.user.password' required="required" pattern=".{3,20}"></p> <br>
    <input type="submit" name="Submit" value="Login">
  </form>

  <div class="redirect_other_auth">
    <a ui-sref="home.register">Sign-up!</a>
  </div>

</div>
