.admin_edit {
  background-color: lightgrey;
}

.admin_image {
  width: 100px;
}

.admin_li {
  margin-left: 20%;
  margin-right: 20%;
  height: 20em;
}

#admin_product_list {
  float: none;
  margin: 0 auto;
}

.admin_input{
  margin-left: 20%;
  margin-right: 15%;
}

.input_image {
  margin-left: 35%;
}
