/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap

 *= require_tree .
 *= require_self
 */

.product_thumbnail {
  width: 200px;
}

.navbar {
  background: rgb(226,226,226);
  background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
  background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
  height: 5em;
}

.filter_bar {
  background: rgb(254,254,254);
  background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(219,219,219,1) 51%, rgba(226,226,226,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 51%,rgba(226,226,226,1) 100%);
  background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 51%,rgba(226,226,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 );

  padding: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.index_prod_desc {
  padding-right: 5em;
  position: relative;
  left: 35%;
  bottom: 11em;
  text-align: center;
}

.cart_box {
  background: rgb(254,254,254);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 40%, rgba(219,219,219,1) 97%, rgba(226,226,226,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 40%,rgba(219,219,219,1) 97%,rgba(226,226,226,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(254,254,254,1) 40%,rgba(219,219,219,1) 97%,rgba(226,226,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=1 );

  border: 1px solid #E2E2E2;
  margin: 2em;
}
