/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap

 *= require_tree .
 *= require_self
 */

.product_thumbnail {
  height: 130px;
}

.navbar {
  background: rgb(226,226,226);
  background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
  background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
  height: 5em;
}

.filter_bar {
  background: rgb(254,254,254);
  background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(219,219,219,1) 51%, rgba(226,226,226,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 51%,rgba(226,226,226,1) 100%);
  background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 51%,rgba(226,226,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 );

  padding: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.category_tab {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 59%, rgba(204,204,204,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 59%,rgba(204,204,204,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 59%,rgba(204,204,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );


  position: relative;
  bottom: -.8em;
  border: 1px solid #A19B86;
  border-bottom: none;
}

.index_prod_half {
  text-align: center;
  width: 49%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.centered_description {
  text-align: center;
}

IMG.centered_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart_box {
  background: rgb(254,254,254);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 40%, rgba(219,219,219,1) 97%, rgba(226,226,226,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 40%,rgba(219,219,219,1) 97%,rgba(226,226,226,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(254,254,254,1) 40%,rgba(219,219,219,1) 97%,rgba(226,226,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=1 );

  border: 1px solid #E2E2E2;
  padding: 2em;
  margin: 2em;
}

#new_cart_btn {
  width: 80%;
  background-color: lightgreen;
}

.list_item {
  padding: 4em;
  margin: 3em;
  border: 1px solid #F8F1EA;
  position:relative;
  /* position:relative allows  .choose_cart to overflow*/
}

.cart_bottom {
  padding-top: 2em;
  padding-bottom: 2em;
}

.cart_bottom_buttons {
  text-align: center;
  margin-top: -5em;
}

ul {
  padding: 0em;
}

.choose_cart {
  position: absolute;
  top: 15em;
  width: 40%;
  right: 9%;
  z-index: 10;
  border-top: 1px solid black;
  background-color: #F0EAEC;
}

.light_box {
  background-color: white;
  position: fixed;
  top: 10em;
  left: 20%;
  right: 20%;
  z-index: 1000;
  text-align: center;
  padding: 2em;
}

.black_out {
  position: absolute;
  right: 0;
  top: 5em;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%);
  background: linear-gradient(to right,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33000000',GradientType=1 );
}
