<!DOCTYPE html>
<html>
<head>
  <title>ECommerceSite2</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='app'>
<br>
Welcome to the revamped e-commerce.

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>

<ui-view></ui-view>

</body>
</html>
